@model Funcionario.Models.Funcionario

@{
    ViewBag.Title = "Create";
}
<style>
    label.doispontos:after {
        content: ":";
    }
</style>



<h2>Create</h2>



@using (Html.BeginForm())
{



    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 style="color:red">(*) Campos obrigatórios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2 doispontos" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "" } })<span style="color:red">(*)</span>
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 doispontos" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })<span style="color:red">(*)</span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2 doispontos" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "" } })<span style="color:red">(*)</span>
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "" } })<span style="color:red">(*)</span>
                @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Estado, htmlAttributes: new { @class = "control-label col-md-2 doispontos" })
            <div class="col-md-10">
                @Html.DropDownList("FK_Estado", null, htmlAttributes: new { @class = "" })<span style="color:red">(*)</span>
                @Html.ValidationMessageFor(model => model.FK_Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" @*onclick="CadastrarFuncionario()"*@ id="btnSave" value="Salvar Cliente" class="btn btn-default" />
            </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">


        $(document).ready(function () {

            $("#btnSave").click(function () {

                var funcionario = {
                    Nome: $("#Nome").val(),
                    Email: $("#Email").val(),
                    DataNascimento: $("#DataNascimento").val(),
                    Salario: $("#Salario").val(),
                    FK_Estado: $("#FK_Estado").val(),


                };
                $.ajax({
                    type: "POST",
                    URL: "/Funcionario/Create",
                    //dataType: "json",
                    //contentType: "application/json",
                    data: funcionario,
                    error: function (response) {
                        alert(response.responseText);
                    },
                    success: function (response) {

                        alert("Sucess");

                    }
                });

            });


        });
    </script>
}
