@model IEnumerable<Funcionario.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Funcionários cadastrados</h2>

<p>

    <a href="/Funcionario/Create" class="btn  pull-right"><input type="submit" value="Novo Funcionário" class="btn btn-default" /></a>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PK_Funcionario)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PK_Funcionario)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
       
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.PK_Funcionario }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.PK_Funcionario })
        </td>
    </tr>
}

</table>
