@model IEnumerable<Funcionario.Models.Funcionario>

@{
    ViewBag.Title = "Funcionarios";
}


<p>
<br />    <button class="btn btn-success create">Create New</button>
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>

                <button class="btn btn-primary edit" data-id="@item.PK_Funcionario">Edit</button>
                <button class="btn btn-danger delete" data-id="@item.PK_Funcionario">Delete</button>
            </td>
        </tr>
    }

</table>


<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {

            //uncomment on detais page creation
            //$(".details").click(function () {
            //    var id = $(this).attr("data-id");
            //    $("#modal").load("Details?id=" + id, function () {
            //        $("#modal").modal();
            //    })
            //});

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Funcionario/Edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                
                $("#modal").load("/Funcionario/Delete/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("/Funcionario/Create", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}
